BASE_URL=https://practicesoftwaretesting.com
# API_BASE_URL=          # added in Phase 8
 CUSTOMER_EMAIL=
 CUSTOMER_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
API_BASE_URL=https://api.practicesoftwaretesting.com